<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<script>
MathJax = {
  tex: {
    macros: {
      Ac: "\\mathcal{A}",
      Bc: "\\mathcal{B}",
      Cc: "\\mathcal{C}",
      Dc: "\\mathcal{D}",
      Ec: "\\mathcal{E}",
      Fc: "\\mathcal{F}",
      Gc: "\\mathcal{G}",
      Hc: "\\mathcal{H}",
      Ic: "\\mathcal{I}",
      Jc: "\\mathcal{J}",
      Kc: "\\mathcal{K}",
      Lc: "\\mathcal{L}",
      Mc: "\\mathcal{M}",
      Nc: "\\mathcal{N}",
      Oc: "\\mathcal{O}",
      Pc: "\\mathcal{P}",
      Qc: "\\mathcal{Q}",
      Rc: "\\mathcal{R}",
      Sc: "\\mathcal{S}",
      Tc: "\\mathcal{T}",
      Uc: "\\mathcal{U}",
      Vc: "\\mathcal{V}",
      Wc: "\\mathcal{W}",
      Xc: "\\mathcal{X}",
      Yc: "\\mathcal{Y}",
      Zc: "\\mathcal{Z}",

      As: "\\mathsf{A}",
      Bs: "\\mathsf{B}",
      Cs: "\\mathsf{C}",
      Ds: "\\mathsf{D}",
      Es: "\\mathsf{E}",
      Fs: "\\mathsf{F}",
      Gs: "\\mathsf{G}",
      Hs: "\\mathsf{H}",
      Is: "\\mathsf{I}",
      Js: "\\mathsf{J}",
      Ks: "\\mathsf{K}",
      Ls: "\\mathsf{L}",
      Ms: "\\mathsf{M}",
      Ns: "\\mathsf{N}",
      Os: "\\mathsf{O}",
      Ps: "\\mathsf{P}",
      Qs: "\\mathsf{Q}",
      Rs: "\\mathsf{R}",
      Ss: "\\mathsf{S}",
      Ts: "\\mathsf{T}",
      Us: "\\mathsf{U}",
      Vs: "\\mathsf{V}",
      Ws: "\\mathsf{W}",
      Xs: "\\mathsf{X}",
      Ys: "\\mathsf{Y}",
      Zs: "\\mathsf{Z}",

      Ab: "\\mathbb{A}",
      Bb: "\\mathbb{B}",
      Cb: "\\mathbb{C}",
      Db: "\\mathbb{D}",
      Eb: "\\mathbb{E}",
      Fb: "\\mathbb{F}",
      Gb: "\\mathbb{G}",
      Hb: "\\mathbb{H}",
      Ib: "\\mathbb{I}",
      Jb: "\\mathbb{J}",
      Kb: "\\mathbb{K}",
      Lb: "\\mathbb{L}",
      Mb: "\\mathbb{M}",
      Nb: "\\mathbb{N}",
      Ob: "\\mathbb{O}",
      Pb: "\\mathbb{P}",
      Qb: "\\mathbb{Q}",
      Rb: "\\mathbb{R}",
      Sb: "\\mathbb{S}",
      Tb: "\\mathbb{T}",
      Ub: "\\mathbb{U}",
      Vb: "\\mathbb{V}",
      Wb: "\\mathbb{W}",
      Xb: "\\mathbb{X}",
      Yb: "\\mathbb{Y}",
      Zb: "\\mathbb{Z}",

      av: "\\mathbf{a}",
      bv: "\\mathbf{b}",
      cv: "\\mathbf{c}",
      dv: "\\mathbf{d}",
      ev: "\\mathbf{e}",
      fv: "\\mathbf{f}",
      gv: "\\mathbf{g}",
      hv: "\\mathbf{h}",
      iv: "\\mathbf{i}",
      jv: "\\mathbf{j}",
      kv: "\\mathbf{k}",
      lv: "\\mathbf{l}",
      mv: "\\mathbf{m}",
      nv: "\\mathbf{n}",
      ov: "\\mathbf{o}",
      pv: "\\mathbf{p}",
      qv: "\\mathbf{q}",
      rv: "\\mathbf{r}",
      sv: "\\mathbf{s}",
      tv: "\\mathbf{t}",
      uv: "\\mathbf{u}",
      vv: "\\mathbf{v}",
      wv: "\\mathbf{w}",
      xv: "\\mathbf{x}",
      yv: "\\mathbf{y}",
      zv: "\\mathbf{z}",

      Av: "\\mathbf{A}",
      Bv: "\\mathbf{B}",
      Cv: "\\mathbf{C}",
      Dv: "\\mathbf{D}",
      Ev: "\\mathbf{E}",
      Fv: "\\mathbf{F}",
      Gv: "\\mathbf{G}",
      Hv: "\\mathbf{H}",
      Iv: "\\mathbf{I}",
      Jv: "\\mathbf{J}",
      Kv: "\\mathbf{K}",
      Lv: "\\mathbf{L}",
      Mv: "\\mathbf{M}",
      Nv: "\\mathbf{N}",
      Ov: "\\mathbf{O}",
      Pv: "\\mathbf{P}",
      Qv: "\\mathbf{Q}",
      Rv: "\\mathbf{R}",
      Sv: "\\mathbf{S}",
      Tv: "\\mathbf{T}",
      Uv: "\\mathbf{U}",
      Vv: "\\mathbf{V}",
      Wv: "\\mathbf{W}",
      Xv: "\\mathbf{X}",
      Yv: "\\mathbf{Y}",
      Zv: "\\mathbf{Z}",

      alphav     : "{\\boldsymbol \\alpha     }",
      betav      : "{\\boldsymbol \\beta      }",
      gammav     : "{\\boldsymbol \\gamma     }",
      deltav     : "{\\boldsymbol \\delta     }",
      epsilonv   : "{\\boldsymbol \\epsilon   }",
      varepsilonv: "{\\boldsymbol \\varepsilon}",
      zetav      : "{\\boldsymbol \\zeta      }",
      etav       : "{\\boldsymbol \\eta       }",
      thetav     : "{\\boldsymbol \\theta     }",
      varthetav  : "{\\boldsymbol \\vartheta  }",
      iotav      : "{\\boldsymbol \\iota      }",
      kappav     : "{\\boldsymbol \\kappa     }",
      varkappav  : "{\\boldsymbol \\varkappa  }",
      lambdav    : "{\\boldsymbol \\lambda    }",
      muv        : "{\\boldsymbol \\mu        }",
      nuv        : "{\\boldsymbol \\nu        }",
      xiv        : "{\\boldsymbol \\xi        }",
      omicronv   : "{\\boldsymbol \\omicron   }",
      piv        : "{\\boldsymbol \\pi        }",
      varpiv     : "{\\boldsymbol \\varpi     }",
      rhov       : "{\\boldsymbol \\rho       }",
      varrhov    : "{\\boldsymbol \\varrho    }",
      sigmav     : "{\\boldsymbol \\sigma     }",
      varsigmav  : "{\\boldsymbol \\varsigma  }",
      tauv       : "{\\boldsymbol \\tau       }",
      upsilonv   : "{\\boldsymbol \\upsilon   }",
      phiv       : "{\\boldsymbol \\phi       }",
      varphiv    : "{\\boldsymbol \\varphi    }",
      chiv       : "{\\boldsymbol \\chi       }",
      psiv       : "{\\boldsymbol \\psi       }",
      omegav     : "{\\boldsymbol \\omega     }",

      Gammav     : "{\\boldsymbol \\Gamma     }",
      Deltav     : "{\\boldsymbol \\Delta     }",
      Thetav     : "{\\boldsymbol \\Theta     }",
      Lambdav    : "{\\boldsymbol \\Lambda    }",
      Xiv        : "{\\boldsymbol \\Xi        }",
      Piv        : "{\\boldsymbol \\Pi        }",
      Sigmav     : "{\\boldsymbol \\Sigma     }",
      Upsilonv   : "{\\boldsymbol \\Upsilon   }",
      Phiv       : "{\\boldsymbol \\Phi       }",
      Psiv       : "{\\boldsymbol \\Psi       }",
      Omegav     : "{\\boldsymbol \\Omega     }",

      zero: "\\mathbf{0}",
      inv: "^{-1}",
      F: "\\mathrm{F}",
      KL: "\\mathrm{KL}",

      argmin: "\\operatorname\{argmin\}",
      argmax: "\\operatorname\{argmax\}",
      mini:   "\\operatorname\{minimize\}",
      maxi:   "\\operatorname\{maximize\}",
    }
  }
};
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
